sdsds
<div class="formation-5">
  <h4>Formation à 5 joueurs (1 Gardien, 4 en losange)</h4>
  <div class="terrain">
    <div class="gardien" (click)="selectPosition(1, 'gardien')">Gardien</div>
    
    <div class="milieu-gauche" (click)="selectPosition(1, 'milieu-gauche')">Milieu Gauche</div>
    <div class="milieu-droit" (click)="selectPosition(1, 'milieu-droit')">Milieu Droit</div>
    
    <div class="defenseur" (click)="selectPosition(1, 'defenseur')">Défenseur</div>
    
    <div class="attaquant" (click)="selectPosition(1, 'attaquant')">Attaquant</div>
  </div>
</div> 